.content{
    width: 760px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    padding: 40px 60px;
    background: #fff
}

.spot{
    margin: 0 40px 80px;
    text-align: center;
}

.spot h2{
    color: var(--rts-farver);
}

.spot p{
    color: var(--p-tags);
    line-height: 2em;
    font-size: 0.9em
}
